  <div class="row center">
    <h4>New consult</h4>
    <hr>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 ">
    		<div class="panel panel-default border-panel">
			  	<div class="panel-body">
              <%= form_for(@consult) do |f| %>
                <fieldset>
			    	  <div class="form-group">
                <%= f.text_field :height, placeholder: "Height (cm)", type: "number", min:"1", class: "input alingh form-control"%>
			    		</div>
			    		<div class="form-group">
                <%= f.text_field :mass , placeholder: "Weight (kg)", type: "number", min:"1", class: "input form-control" %>
			    		</div>
              <%= f.submit "Calculate BMI",  class: "btn btn-secondary"%>
			    	</fieldset>
			        <% end %>
			    </div>
			</div>
		</div>
	</div>
  </div>




